body{
	font-family: 'Lato', sans-serif;
}
.navbar-brand, .nav-link, .btn, #contactForm label{
	font-family: 'Montserrat', sans-serif;
}
.custom-bg-color{
    background-color: #2C3E50;
}
.bg-green{
    background-color: #00b399;
}
.bg-green-aqua{
	background-color: #00b399;
}
.copyright-bg-color{
    background-color: #19232F;
}
.divider-custom-icon{
	font-size: 2rem;
	margin: 1.5rem 0 2rem;
}